{
  "presets": [
    "env"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/node_modules/**",
              "**/tests/**",
              "**/coverage/**",
              "Gruntfile.js"
            ]
          }
        ]
      ]
    }
  }
}